@import './theme.css';

.xtr-article {
    line-height: 1.5;
}

.xtr-article p {
    margin: 0;
    min-height: 2rem;
}

.xtr-article p + :is(h1, h2, h3, h4, h5, h6) {
    margin-top: 1rem;
}

.xtr-article h1,
.xtr-article h2,
.xtr-article h3,
.xtr-article h4,
.xtr-article h5,
.xtr-article h6 {
    margin: 0;
    font-family: var(--font-header), sans-serif;
    font-size: 1rem;
    padding: 0.25rem 0;
}

.xtr-article h1 {
    font-size: 3rem;
    padding: 0.25rem 0;
}

.xtr-article h2 {
    font-size: 2rem;
    padding: 0.5rem 0;
}

.xtr-article h3 {
    font-size: 1.5rem;
    padding: 0.375rem 0;
}

.xtr-article ul, .xtr-article ol {
    display: inline-block;
    margin: 0;
    overflow: hidden;
    min-height: 2rem;
    padding: 0 0 0 calc(2rem - 4px);
}

.xtr-article li {
}

.xtr-article blockquote {
    margin: 0 0 1rem;
    padding: 0.25rem 1rem;
    box-shadow: inset 3px 0 0 var(--theme-fg-half);
    font-style: italic;
}

.xtr-article pre {
    font-family: 'SF Mono', 'Consolas', monospace;
    margin: 0;
    padding: 0.75rem 1rem;
    border-radius: 3px;
    overflow-x: auto;
    background: var(--color-body);
    color: var(--color-white);
}

.xtr-article code {
    font-size: 0.875rem;
    border-radius: 3px;
}

.xtr-article pre code {
    padding: 0;
    font-size: 1rem;
    background: none;
    border-radius: 0;
}

.xtr-article hr {
    height: 1rem;
    margin: 1rem 0 0 0;
    border: none;
    opacity: 0.2;
    border-top: 1px solid var(--theme-fg);
}
