@import './theme.css';

.button {
    appearance: none;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1;
    padding: 0.5rem;
    font-weight: 400;
    border: none;
    transition: all .2s ease-out;
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.8);
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.1);
}

.button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.button:not(:disabled):hover {
    box-shadow: inset 0 0px 0 rgba(0, 0, 0, 0.1);
}

.button.body {
    background: var(--color-body);
    color: var(--color-white);
}

.button.white {
    background: var(--color-white);
}

.button.pastel-yellow {
    background: var(--color-pastel-yellow);
}

.button.pastel-green {
    background: var(--color-pastel-green);
}

.button.pastel-red {
    background: var(--color-pastel-red);
}

.button.pastel-blue {
    background: var(--color-pastel-blue);
}