@import url('https://fonts.googleapis.com/css2?family=Cantarell:wght@400;700&family=Geist:wght@400;500;600;700&display=swap');

:root {
    --font-body: 'Cantarell', sans-serif;
    --font-header: 'Geist', sans-serif;

    --color-black: #000000;
    --color-body: #333333;
    --color-white: #ffffff;
    --color-pastel-yellow: #fdf4b8;
    --color-pastel-green: #afefb0;
    --color-pastel-red: #ffd7d6;
    --color-pastel-blue: #beebf8;

    --theme-fg: var(--color-body);
    --theme-bg: var(--color-white);

    --theme-fg-half: color-mix(in srgb, var(--theme-fg) 50%, transparent);
    --theme-fg-ghost: color-mix(in srgb, var(--theme-fg) 10%, transparent);
    --theme-bg-half: color-mix(in srgb, var(--theme-bg) 50%, transparent);
    --theme-bg-ghost: color-mix(in srgb, var(--theme-bg) 10%, transparent);
}

[data-theme="light"] {
    --theme-fg: var(--color-body);
    --theme-bg: var(--color-white);
}

[data-theme="dark"] {
    --theme-fg: var(--color-white);
    --theme-bg: var(--color-body);
}

@media (prefers-color-scheme: dark) {
    :root:not([data-theme="light"]) {
        --theme-fg: var(--color-white);
        --theme-bg: var(--color-body);
    }
}

.xtr-theme {
    font-family: var(--font-body), sans-serif;
    color: var(--theme-fg);
}

.xtr-theme.xtr-background {
    background-color: var(--theme-bg);
}

.xtr-padding {
    padding: 1rem;
}

.xtr-margin {
    margin: 1rem;
}

.xtr-margin-before {
    margin-top: 1rem;
}

.xtr-margin-after {
    margin-bottom: 1rem;
}